<%- include("partials/head.ejs")   %>
<%- include("partials/header.ejs") %>
<div class='containerImage'>
<div class="image-home" style="background-image: url('https://i.postimg.cc/90v8408g/Adobe-Stock-317075100.jpg');">
  <h1>Coffee Break</h1> 
  <h2>explore the different flavors of coffees</h2>
  <div>
  <img class='coffe' src='https://i.postimg.cc/L57JrC2w/coffee-cup-plastic-lid-mug-png-favpng-s-ZP10-VDRthe-ML0rx-Nag-DTh-X5u-adobespark.png' alt='foto' />
  <img class='capsula' src='https://i.postimg.cc/8C9KyD6V/coffe1.webp' alt='image' />
  <img class='capsula' src='https://i.postimg.cc/DyxWkzyL/coffe2.webp' alt='image' />
  <img class='capsula' src='https://i.postimg.cc/kg5TqDNm/coffe3.webp' alt='image' />
</div>
</div>
  </div>

  <div data-aos="fade-up" class="containerMain">
    <div class='typeCoffe'>
      <h2 class='subtitle'>Types of coffees</h2> 
      <div>
        <a href='/'><img class='capsula' src='https://i.postimg.cc/8C9KyD6V/coffe1.webp' alt='coffe' /></a>
        <a href='/'><img class='capsula' src='https://i.postimg.cc/DyxWkzyL/coffe2.webp' alt='coffe' /></a>
        <a href='/'><img class='capsula' src='https://i.postimg.cc/kg5TqDNm/coffe3.webp' alt='cofee' /></a>
        <a href='/'><img class='capsula' src='https://i.postimg.cc/9FdqJqMB/Capetown-C-0685-Responsive-Standard-2000x2000-min-min.webp' alt='coffe' /></a>
        <a href='/'><img class='capsula' src='https://i.postimg.cc/MKmvy2PP/C-0360-Indonesia-2000x2000.webp' alt='coffee' /></a>
      </div>
    </div> 
    <div class='imageCoffeHome' style="background-image:url('https://i.postimg.cc/2yzjqJfq/flat-lay-coffee-bowder-in-strainers-on-books.jpg') ;"></div>   
  </div>
  <div data-aos="fade-up" class='description'>
    <img class='description-image' src='https://i.postimg.cc/Kvp1YX0d/Adobe-Stock-263676073.jpg' alt='coffee' />
    <div class='description-text'>
      <h2 class='subtitle'>COFFEE WORK</h2>
    <p>We designed Open Coffee Work, a space for reflection to speak and debate about the future of work.
      Together with a community of experts and leaders of HR and Business Management, we seek to share ideas, exchange practices and share experiences to co-create a new vision of the work spaces of the future.</p>
  </div>
  </div>
     <%- include("partials/footer.ejs") %>
     <script>
     </script>
</body>
</html>