<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
<div class="noAutorizado">
    <div class="pageAutorizacion" style="background-image: url('https://i.postimg.cc/RVk1Cmkh/Adobe-Stock-177758635.jpg');">
      <h1>To view this page you need to register or login.</h1>
      <a href="/signin"><button class="button">Sign In</button></a>
      <a href="/signup"><button class="button">Sign Up</button></a>
    </div>
</div>

<%- include("partials/footer.ejs") %>
