<%- include("partials/head.ejs") %>

<div class="pageError" style="background-image: url('https://i.postimg.cc/8z5FD8ZB/Adobe-Stock-454450501.jpg');">
   <div>
      <h1>404</h1>
      <h2>Page not found</h2>
      <a href="/"><button class="button">Back To Home</button></a>
   </div>
</div>

