@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;900&display=swap");
html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

/* ----------------------NAV------------------------------------- */

.carousel-inner > .item > img {
	object-fit: scale-down;
	height: 50vh;
	width: 50vw;
  }

.title-nav {
	color: #000;
	padding-left: 2vw;
}

.logo {
	width: 3vw;
}

.active {
	cursor: pointer;
	padding: 1vh 0.8vw;
}

nav {
	display: flex;
	height: 14vh;
	width: 100%;
	align-items: center;
	box-shadow: 4px 6px 52px -9px rgba(0, 0, 0, 0.137);
}

nav a {
	color: rgb(131, 129, 129);
	text-decoration: none;
	padding: 0vh 1vw;
	margin: 0vh 1vw;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
}

nav a:hover {
	color: #d31c28;
}

.imageUser {
	width: 3.5rem;
	height: 3.5rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
}

.imageComment {
	width: 4rem;
	height: 4rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
}

.userComment {
	display: flex;
	justify-content: flex-start;
	/* justify-content: space-between; */
	/* align-items: center; */
	margin:1vw;
}

.nameComment {
	margin-left: 2vw;
	justify-content: flex-start;
	width: 100%;
}

.comment-p {
	width: 100%;
}


/* ---------------------------------- main-------------------------------------------- */

.containerMain {
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.containerMain img:hover {
	transform: scale(1.1);
}

.containerMain img {
	margin: 1vw;
}

.typeCoffe {
	display: flex;
	flex-direction: column;
	height: 40vh;
	align-items: center;
}

.subtitle {
	font-weight: bold;
	text-align: center;
	font-size: 4rem;
}

.subtitleInfo {
	font-weight: bold;
	text-align: center;
	font-size: 4rem;
}

.containerImage {
	display: flex;
	justify-content: center;
}

.image-home {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.imageCoffeHome {
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 100%;
}

.image-home h1 {
	color: rgba(42, 42, 42, 0.842);
	padding-top: 2vh;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 6px 52px -9px rgba(42, 42, 42, 0.842);
}

.home-photo {
	display: flex;
	justify-content: center;
}

.home-photo img {
 margin-top: 2rem;
}


.image-home h2 {
	text-align: center;
	color: rgba(42, 42, 42, 0.842);
	text-shadow: 4px 6px 52px -9px #000;
}

.capsula {
	margin-left: 1vw;
}

.coffe {
	width: 15vw;
}

.main {
	height: 80vh;
}

.description {
	display: flex;
	align-items: center;
}

.description p {
	color: #999;
	font-weight: normal;
}

.description-image {
	width: 50%;
}

.description-text {
	margin: 4vw;
	width: 40%;
}

.contenedor {
	padding: 6vh 0vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tarjeta {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem;
	border: 1px solid #E5DDD6;
	box-shadow: 4px 6px 52px -9px rgba(0, 0, 0, 0.137);
}

.imageInfo {
	background-size: cover;
	background-position: center;
	width: 60vw;
	height: 60vh;
}

/* .parrafo {
	font-weight: normal;
	color: #999;
} */

.parrafoInfo {
	font-weight: normal;
	color: #999;
}


.tarjeta button {
	padding: 2vh 4vw;
	background-color: #b7212c;
	color: #fff;
	border: none;
	border-radius: 2vw;
}

.tarjeta-imagen {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30%;
	margin-bottom: 3vw;
	border-radius: 1vw;
}

.imagen-formulario {
	background-position: center;
	background-size: cover;
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 3vw;
}

.divComments {
	background-color: #dbdbda;
	padding: 1vw;
	height: 60vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.menu {
	width: 1.5vw;
}

.container-info {
	display: flex;
	justify-content: center;
}

.inputComments {
	border: none;
	border: 1px solid #999;
	border-radius: 2vw;
	width: 90vw;
	outline: #b7212c;
	padding: 1vw;
	outline: none;
}

.imagen-formulario h2 {
	color: #000;
}

.containerForm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.formulario {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.containerError p {
	font-size: 1rem;
	font-weight: normal;
}

.formulario h2 {
	font-size: 3vw;
	font-weight: bold;
}

.formulario input {
	border: none;
	border-bottom: 2px solid #999;
	padding: 1vw;
	color: #000;
	width: 70%;
	margin: 1vw;
	outline: none;
	background-color: transparent;
}

.formulario p {
	color: #000;
	font-size: normal;
}

.formulario input::placeholder {
	color: #999;
}

.boton-formulario {
	padding: 2vh 3vw;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 1.5vw;
	width: 20vw;
	font-weight: bold;
	font-size: 1.5vw;
	background-color: #000;
}

.formulario-login {
	background-image: url("./assets/estrellas.jpeg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.formulario-login h2 {
	color: #fff;
}

.error {
	color: #fff;
	background-color: #d31c28;
	border-radius: 4px;
	width: 40%;
	padding: 0.5vw;
}


.parrafo h2 {
	color: #fff;
	padding: 1vw;
}

.parrafo p {
	padding: 0.5vw;
}

.noAutorizado {
	min-height: 80vh;
	text-align: center;
}

.pageAutorizacion {
	background-position: initial;
	background-size: cover;
	height: 100vh;
	width: 100%;
	padding: 10vh;
}

.pageAutorizacion h1 {
	color: #fff;
	font-weight: bold;
}

footer {
	background-position: center;
	background-size: cover;
	height: 40vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2vw;
	font-size: 1.2rem;
}

.icono {
	width: 3vw;
	margin: 1vw;
}

footer a:hover {
	opacity: 0.5;
	width: 5%;
}

footer p {
	color: #fff;
	font-weight: normal;
	text-align: center;
	font-size: 1rem;
}

footer h2 {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.iconFooter {
	display: flex;
	flex-direction: column;
}

.iconoscomments {
	width: 1.5vw;
}

.comment {
	padding: 3vw;
	background-color: #999;
}

.nombre {
	font-size: 2vw;
	font-weight: bold;
	color: #fff;
	text-align: left;
}

.buttonComment {
	background-color: #d31c28;
	padding: 1vh 2vw;
	color: #fff;
	border: none;
	margin: 2vw;
	border-radius: 5%;
	display: flex;
    justify-content: center;
}

.centrado {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cajacomentario {
	border-radius: 4vw;
	padding: 1vw;
	background-color: #FE5102;
}

.titleComment {
	font-size: 4rem;
	color: #FE5102;
	font-weight: bold;
	text-align: center;
}

.comentarios-div {
	width: 70vw;
	margin: 2vh 0vw;
	padding: 3vw;
}

.div-principal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2vw;
}

.comentario {
	color: #fff;
	font-weight: normal;
	text-align: left;
}

.button {
	background-color: transparent;
	padding: 2vh 3vw;
	margin: 1vw;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 1vw;
	background: rgba(34, 34, 34, 0.376);
}

.pageError {
	background-position: initial;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2vw;
}

.pageError h1 {
	font-weight: bold;
	font-size: 8rem;
	color: #000;
}

.pageError h2 {
	background-color: red;
	color: #fff;
}

.pageError button {
	background-color: rgb(197, 17, 17);
	color: #fff;
}

/* ----------------PROFILE---------------------- */

.container-profile {
	padding: 0vh 3vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.container-profile h1 {
	color: #000;
	font-weight: bold;
	font-size: 4rem;
}

.profile-text {
	display: flex;
    align-items: center;
	color: #000;
	background-position: center;
	background-size: cover;
	flex-direction: column;
	height: 100vh;
}

.profile-text h2{
	color: #000;
    font-size: bold;
}

.profile h2, p {
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.user-profile a {
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	color: #000;
}

.user-profile a:hover {
	color: #000;
}

.photo-profile {
	background-position: center;
	background-size: cover;
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
}

.profile-title h1 {
	text-align: center;
	width: 30vw;
}

.icono-back {
	width: 3rem;
}

.title-photo {
	display: flex;
	justify-content: center;
	color: #000;
}

.profile {
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.profile p {
	text-align: center;
	color: #fff;
	padding: 1vw;
}

@media only screen and (max-width: 425px) {
.logo {
	width: 3rem;
}

.image-home {
	height: 50vh;
	padding: 1rem;
}

.image-home h1 {
	font-size: 2.5rem;
	text-shadow: 2px 2px 2px #999;
}

.image-home h2 {
	text-shadow: 2px 2px 2px #999;
}

.containerMain {
	flex-direction: column;
}

.typeCoffe h2 {
	font-size: 2.5rem;
	padding: 2rem;
}

.capsula {
	width: 3rem;
}

.imageCoffeHome {
	width: 100%;
	height: 60vh;
	padding: 1rem;
}

.description {
	flex-direction: column-reverse;
}

.description img {
	width: 100%;
}


.description-text {
	width: 100%;
	padding: 1rem;
}

footer {
 height: 30vh;
 justify-content: start;
}

.infoFooter p, h2 {
	text-align: left;
	text-shadow: 2px 2px 2px #999;
}

.iconFooter {
	flex-direction: row;
}

.icono {
	width: 2rem;
}

.containerForm {
	flex-direction: column;
	align-self: center;
	flex-wrap: wrap;
	min-height: 70vh;
}

.formulario {
	width: 100%;
	height: 60vh;
	padding: 1rem 0rem;
}

.containerError {
	width: 100%;
	display: flex;
	align-items: center;
	height: 12vh;
}

.containerError p {
	font-size: 1rem;
	font-weight: normal;
	margin: 0.2vw;
	width: 90%;
}

.formulario input {
	width: 80%;
	outline: none;
}

.formulario h2 {
    font-size: 2rem;
	text-align: center;
}


.imagen-formulario {
 height: 60vh;
 width: 100%;
}

.boton-formulario {
	font-size: 1rem;
	width: 30%;
	margin-top: 1rem;
}

.formulario input::placeholder {
	color: #000;
}

.noAutorizado {
	min-height: 50vh;
}



}


@media only screen and (max-width: 576px) { 
	.logo {
		width: 3rem;
	}
	
	.image-home {
		height: 50vh;
		padding: 1rem;
	}
	
	.image-home h1 {
		font-size: 2.5rem;
		text-shadow: 2px 2px 2px #999;
	}
	
	.image-home h2 {
		text-shadow: 2px 2px 2px #999;
	}
	
	.containerMain {
		flex-direction: column;
	}
	
	.typeCoffe h2 {
		font-size: 2.5rem;
		padding: 2rem;
	}
	
	.capsula {
		width: 3rem;
	}
	
	.imageCoffeHome {
		width: 100%;
		height: 60vh;
		padding: 1rem;
	}
	
	.description {
		flex-direction: column-reverse;
	}
	
	.description img {
		width: 100%;
	}
	
	
	.description-text {
		width: 100%;
		padding: 1rem;
	}
	
	footer {
	 height: 30vh;
	 justify-content: start;
	}
	
	.infoFooter p, h2 {
		text-align: left;
		text-shadow: 2px 2px 2px #999;
	}
	
	footer p {
		font-size: 1rem;
	}

	.iconFooter {
		flex-direction: row;
	}
	
	.icono {
		width: 2rem;
	}
	
	.containerForm {
		flex-direction: column;
		align-self: center;
		min-height: 70vh;
	}
	
	.formulario {
		width: 100%;
		height: 60vh;
		padding: 1rem 0rem;
	}
	
	.formulario input {
		width: 80%;
	}
	
	.formulario h2 {
		font-size: 2rem;
		text-align: center;
	}
	
	
	.imagen-formulario {
	 height: 50vh;
	 width: 100%;
	}
	
	.boton-formulario {
		font-size: 1rem;
		width: 30%;
		margin-top: 1rem;
	}
	
	.formulario input::placeholder {
		color: #000;
	}

	.noAutorizado {
		min-height: 50vh;
	}
	
	.containerError {
		width: 100%;
		display: flex;
		align-items: center;
		height: 12vh;
	}
	
	.containerError p {
		font-size: 1rem;
		font-weight: normal;
		margin: 0.2vw;
		width: 90%;
	}
	
	.comentarios-div {
     width: 100%;
	}

	.titleComment {
		font-size: 2rem;
	}

	.subtitle {
		font-size: 1.5rem;
	}

	.div-principal {
		width: 100%;
	}

	.inputComments {
		width: 80%;
	}

	.imageInfo {
		width: 90%;
		height: 50%;
	}

	.parrafoInfo {
		text-align: left;
	}

	.container-info img {
		width: 100%;
	}

	.subtitleInfo {
		font-size: 2rem;
	}

	.home-photo {
		display: none;
	}
}


@media only screen and (max-width: 768px) {
	.logo {
		width: 3rem;
	}
	
	.image-home {
		height: 50vh;
		padding: 1rem;
	}
	
	.image-home h1 {
		font-size: 2.5rem;
		text-shadow: 2px 2px 2px #999;
	}
	
	.image-home h2 {
		text-shadow: 2px 2px 2px #999;
	}
	
	.containerMain {
		flex-direction: column;
	}
	
	.typeCoffe h2 {
		font-size: 2.5rem;
		padding: 2rem;
	}
	
	.capsula {
		width: 3rem;
	}
	
	.imageCoffeHome {
		width: 100%;
		height: 60vh;
		padding: 1rem;
	}
	
	.description {
		flex-direction: column-reverse;
	}
	
	.description img {
		width: 100%;
	}
	
	
	.description-text {
		width: 100%;
		padding: 1rem;
	}
	
	footer {
	 height: 30vh;
	 justify-content: start;
	}
	
	.infoFooter p, h2 {
		text-align: left;
		text-shadow: 2px 2px 2px #999;
	}
	
	.iconFooter {
		flex-direction: row;
	}
	
	.icono {
		width: 2rem;
	}
	
	.containerForm {
		flex-direction: column;
		align-self: center;
		min-height: 70vh;
	}
	
	.formulario {
		width: 100%;
		height: 60vh;
		padding: 1rem 0rem;
	}
	
	.formulario input {
		width: 80%;
	}
	
	.formulario h2 {
		font-size: 2rem;
		text-align: center;
	}
	
	
	.imagen-formulario {
	 height: 50vh;
	 width: 100%;
	}
	
	.boton-formulario {
		font-size: 1rem;
		width: 30%;
		margin-top: 1rem;
	}
	
	.formulario input::placeholder {
		color: #000;
	}
	
	.containerError {
		width: 100%;
		display: flex;
		align-items: center;
		height: 12vh;
	}
	
	.containerError p {
		font-size: 1rem;
		font-weight: normal;
		margin: 0.2vw;
		width: 90%;
	}

	.tarjeta {
		width: 100%;
	}

	.imageInfo {
		width: 90%;
		height: 50%;
	}

	.container-info img {
		width: 100%;
	}
	.home-photo {
		display: none;
	}

}

@media only screen and (min-width: 1200px) {
.image-home h1 {
 font-size: 6rem;
}
	
.formulario {
	font-size: 1.5rem;
}

.imageCoffeHome {
	width: 50%;
	height: 100%;
}

.containerForm {
	height: 100vh;
}

.formulario {
	height: 100%;
}

.formulario h2 {
	margin-top: 3vh;
}

.formulario input {
	padding: 0.2vw;
}

.containerMain {
	height: 50vh;
}

.typeCoffe {
	width: 50%;
}

.navegation a {
	font-size: 1rem;
}


.tarjeta {
	width: 100%;
}

.imageInfo {
	width: 60%;
	height: 40vh;

}
.parrafoInfo {
	text-align: left;
}

.container-info img {
	width: 80%;
}

.subtitleInfo {
	font-size: 4rem;
}


.tarjeta {
	height: 100%;
	border: none;
}

.container-info {
	background-color: #F3F2EF;
}

}